<div class="header">
  <div class="tw-text-24-px tw-font-600">Open Books Library</div>
  <div class="search-button">
    <mat-icon class="search-icon" aria-label="Search Icon">search</mat-icon>
    <input
      [formControl]="bookSearch"
      name="searchKey"
      type="text"
      placeholder="Search Books"
      class="tw-border-0 tw-bg-inherit"
    >
    <button mat-icon-button class="clear-button" (click)="clearSearch()" *ngIf="bookSearch.value">
      <mat-icon aria-label="Clear Icon">clear</mat-icon>
    </button>
    <button mat-icon-button class="search-icon-button" (click)="performSearch()" *ngIf="bookSearch.value">
      <mat-icon aria-label="Search Icon">search</mat-icon>
    </button>
  </div>
</div>

<div class="tw-flex tw-flex-row tw-m-24-px">
  <section class="trending-subjects">
    <div class="tw-font-600 tw-text-24-px">Trending Subjects</div>
    <ul class="tw-list-none tw-pl-0">
      <li class="tw-text-16-px tw-cursor-pointer tw-p-12-px" *ngFor="let subject of trendingSubjects" routerLink="/trending-subject/{{ subject.name }}">
        {{ subject.name }}
      </li>
    </ul>
  </section>
  <div class="search-results" *ngIf="searchResults.length > 0">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of searchResults">
          <td>{{ result.title }}</td>
          <td>{{ result.author_name ? result.author_name.join(', ') : 'N/A' }}</td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
      <button mat-button class="previous-button" (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
      <span class="page-info">Page {{ currentPage }} of {{ getTotalPages() }}</span>
      <button mat-button class="next-button" (click)="goToNextPage()" [disabled]="currentPage === getTotalPages()">Next</button>
    </div>
  </div>
  
</div>